<div class="background-container">
  <div class="faq-section">
    <div class="faq-header">
      <h2 class="faq-title">Preguntas Frecuentes</h2>
    </div>

    <div class="faq-subsection">
      <h3 class="faq-subsection-title">General</h3>
      <div class="accordion-container">
        <div class="accordion" id="accordionGeneral">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseGeneralOne"
                aria-expanded="true"
                aria-controls="collapseGeneralOne"
              >
                ¿Es necesario tener una cita previa para los servicios?
              </button>
            </h2>
            <div id="collapseGeneralOne" class="accordion-collapse collapse">
              <div class="accordion-body">
                Sí, es recomendable agendar una cita previa para garantizar la
                disponibilidad del servicio deseado.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseGeneralTwo"
                aria-expanded="false"
                aria-controls="collapseGeneralTwo"
              >
                ¿Cuáles son los horarios de atención de Inputs Salud?
              </button>
            </h2>
            <div id="collapseGeneralTwo" class="accordion-collapse collapse">
              <div class="accordion-body">
                Nuestros horarios de atención son de lunes a viernes de 8:00
                a.m. a 6:00 p.m. y sábados de 9:00 a.m. a 2:00 p.m.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseGeneralThree"
                aria-expanded="false"
                aria-controls="collapseGeneralThree"
              >
                ¿Cómo puedo agendar una cita en Inputs Salud?
              </button>
            </h2>
            <div id="collapseGeneralThree" class="accordion-collapse collapse">
              <div class="accordion-body">
                Puedes agendar una cita, enviándonos un mensaje por WhatsApp al
                8882-1444 o a través de nuestras redes sociales.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="faq-subsection">
      <h3 class="faq-subsection-title">Fisioterapia</h3>
      <div class="accordion-container">
        <div class="accordion" id="accordionSubscriptions">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSubscriptionsOne"
                aria-expanded="false"
                aria-controls="collapseSubscriptionsOne"
              >
                ¿Cuánto tiempo duran las sesiones de fisioterapia?
              </button>
            </h2>
            <div
              id="collapseSubscriptionsOne"
              class="accordion-collapse collapse"
            >
              <div class="accordion-body">
                Las sesiones de fisioterapia suelen durar entre 45 y 60 minutos,
                dependiendo de las necesidades del paciente.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFisioTwo"
                aria-expanded="false"
                aria-controls="collapseFisioTwo"
              >
                ¿Cómo se realiza la evaluación fisioterapéutica?
              </button>
            </h2>
            <div id="collapseFisioTwo" class="accordion-collapse collapse">
              <div class="accordion-body">
                La evaluación incluye una revisión detallada del historial
                médico, pruebas físicas y un análisis del movimiento para
                diseñar un plan de tratamiento personalizado.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFisioThree"
                aria-expanded="false"
                aria-controls="collapseFisioThree"
              >
                ¿Qué debo llevar a mi primera cita de fisioterapia?
              </button>
            </h2>
            <div id="collapseFisioThree" class="accordion-collapse collapse">
              <div class="accordion-body">
                Es recomendable llevar ropa cómoda, cualquier informe médico
                relevante y estar preparado para hablar sobre tu historial de
                salud.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFisioFour"
                aria-expanded="false"
                aria-controls="collapseFisioFour"
              >
                ¿Puedo recibir fisioterapia si no tengo una lesión aguda?
              </button>
            </h2>
            <div id="collapseFisioFour" class="accordion-collapse collapse">
              <div class="accordion-body">
                Sí, la fisioterapia también es útil para prevenir lesiones,
                mejorar la postura y tratar dolores crónicos.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFisioFive"
                aria-expanded="false"
                aria-controls="collapseFisioFive"
              >
                ¿Qué tipo de pacientes atienden en fisioterapia?
              </button>
            </h2>
            <div id="collapseFisioFive" class="accordion-collapse collapse">
              <div class="accordion-body">
                Atendemos a personas con diferentes tipos de dolor, lesiones
                deportivas, problemas posturales y aquellos que buscan mejorar
                su bienestar físico.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFisioSix"
                aria-expanded="false"
                aria-controls="collapseFisioSix"
              >
                ¿Es necesario un diagnóstico médico para comenzar la
                fisioterapia?
              </button>
            </h2>
            <div id="collapseFisioSix" class="accordion-collapse collapse">
              <div class="accordion-body">
                No es obligatorio, pero es útil si ya tienes un diagnóstico
                previo. Nuestros fisioterapeutas también pueden realizar una
                evaluación completa.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="faq-subsection">
      <h3 class="faq-subsection-title">Entrenamiento para Adulto Mayor</h3>
      <div class="accordion-container">
        <div class="accordion" id="accordionSubscriptions">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseElderOne"
                aria-expanded="false"
                aria-controls="collapseElderOne"
              >
                ¿Qué beneficios tiene el entrenamiento para adulto mayor?
              </button>
            </h2>
            <div id="collapseElderOne" class="accordion-collapse collapse">
              <div class="accordion-body">
                Mejora la movilidad, fortalece los músculos, previene caídas y
                contribuye al bienestar general del adulto mayor.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseElderTwo"
                aria-expanded="false"
                aria-controls="collapseElderTwo"
              >
                ¿El entrenamiento para adulto mayor está adaptado a diferentes
                niveles de capacidad?
              </button>
            </h2>
            <div id="collapseElderTwo" class="accordion-collapse collapse">
              <div class="accordion-body">
                Sí, el entrenamiento es personalizado según las capacidades y
                objetivos de cada adulto mayor.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseElderThree"
                aria-expanded="false"
                aria-controls="collapseElderThree"
              >
                ¿Qué tipo de ejercicios se realizan en el entrenamiento para
                adulto mayor?
              </button>
            </h2>
            <div id="collapseElderThree" class="accordion-collapse collapse">
              <div class="accordion-body">
                Se enfocan en mejorar la fuerza, el equilibrio, la flexibilidad
                y la resistencia cardiovascular, siempre supervisados por un
                profesional.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseElderFour"
                aria-expanded="false"
                aria-controls="collapseElderFour"
              >
                ¿El entrenamiento para adulto mayor incluye ejercicios en casa?
              </button>
            </h2>
            <div id="collapseElderFour" class="accordion-collapse collapse">
              <div class="accordion-body">
                Sí, ofrecemos recomendaciones de ejercicios que se pueden
                realizar en casa para complementar las sesiones presenciales.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="faq-subsection">
      <h3 class="faq-subsection-title">Masajes</h3>
      <div class="accordion-container">
        <div class="accordion" id="accordionSubscriptions">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseMassageOne"
                aria-expanded="false"
                aria-controls="collapseMassageOne"
              >
                ¿Qué tipo de masajes ofrecen?
              </button>
            </h2>
            <div id="collapseMassageOne" class="accordion-collapse collapse">
              <div class="accordion-body">
                Ofrecemos masaje relajante, deportivo y terapéutico, adaptados a
                las necesidades específicas de cada paciente.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseMassageTwo"
                aria-expanded="false"
                aria-controls="collapseMassageTwo"
              >
                ¿Los masajes son adecuados para todos?
              </button>
            </h2>
            <div id="collapseMassageTwo" class="accordion-collapse collapse">
              <div class="accordion-body">
                Sí, nuestros masajes se adaptan a cada persona, teniendo en
                cuenta su estado de salud y necesidades específicas.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseMassageThree"
                aria-expanded="false"
                aria-controls="collapseMassageThree"
              >
                ¿Cómo debo prepararme para una sesión de masaje?
              </button>
            </h2>
            <div id="collapseMassageThree" class="accordion-collapse collapse">
              <div class="accordion-body">
                Se recomienda no comer en exceso antes de la sesión y llevar
                ropa cómoda. También es útil mencionar cualquier área de tensión
                o molestia al terapeuta.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseMassageFour"
                aria-expanded="false"
                aria-controls="collapseMassageFour"
              >
                ¿Qué diferencia hay entre un masaje deportivo y uno terapéutico?
              </button>
            </h2>
            <div id="collapseMassageFour" class="accordion-collapse collapse">
              <div class="accordion-body">
                El masaje deportivo se enfoca en mejorar el rendimiento y
                recuperación muscular en deportistas, mientras que el
                terapéutico está orientado a tratar dolores específicos y
                condiciones crónicas.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseMassageFour"
                aria-expanded="false"
                aria-controls="collapseMassageFour"
              >
                ¿Qué debo hacer si siento dolor durante una sesión de masaje?
              </button>
            </h2>
            <div id="collapseMassageFour" class="accordion-collapse collapse">
              <div class="accordion-body">
                Es importante comunicar cualquier dolor o incomodidad al
                terapeuta de inmediato para ajustar el tratamiento.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="faq-subsection">
      <h3 class="faq-subsection-title">Maderoterapia</h3>
      <div class="accordion-container">
        <div class="accordion" id="accordionSubscriptions">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseMaderoOne"
                aria-expanded="false"
                aria-controls="collapseMaderoOne"
              >
                ¿Qué es la maderoterapia reductiva?
              </button>
            </h2>
            <div id="collapseMaderoOne" class="accordion-collapse collapse">
              <div class="accordion-body">
                La maderoterapia reductiva es una técnica que utiliza
                herramientas de madera para moldear y reducir grasa localizada,
                mejorando la apariencia de la piel.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseMaderoTwo"
                aria-expanded="false"
                aria-controls="collapseMaderoTwo"
              >
                ¿Es dolorosa la maderoterapia reductiva?
              </button>
            </h2>
            <div id="collapseMaderoTwo" class="accordion-collapse collapse">
              <div class="accordion-body">
                La maderoterapia es un tratamiento no invasivo y generalmente no
                es doloroso, aunque puede generar una ligera incomodidad en
                áreas sensibles.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseMaderoThree"
                aria-expanded="false"
                aria-controls="collapseMaderoThree"
              >
                ¿Cuáles son las contraindicaciones de la maderoterapia
                reductiva?
              </button>
            </h2>
            <div id="collapseMaderoThree" class="accordion-collapse collapse">
              <div class="accordion-body">
                La maderoterapia no es recomendable en casos de inflamación
                aguda, heridas abiertas, infecciones cutáneas o durante el
                embarazo.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseMaderoFour"
                aria-expanded="false"
                aria-controls="collapseMaderoFour"
              >
                ¿Cuáles son las contraindicaciones de la maderoterapia
                reductiva?
              </button>
            </h2>
            <div id="collapseMaderoFour" class="accordion-collapse collapse">
              <div class="accordion-body">
                La maderoterapia no es recomendable en casos de inflamación
                aguda, heridas abiertas, infecciones cutáneas o durante el
                embarazo.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseMaderoFive"
                aria-expanded="false"
                aria-controls="collapseMaderoFive"
              >
                ¿La maderoterapia ayuda a eliminar la celulitis?
              </button>
            </h2>
            <div id="collapseMaderoFive" class="accordion-collapse collapse">
              <div class="accordion-body">
                Sí, la maderoterapia es efectiva en la reducción de la celulitis
                al mejorar la circulación y romper los depósitos de grasa.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseMaderoSix"
                aria-expanded="false"
                aria-controls="collapseMaderoSix"
              >
                ¿Cuánto tiempo duran los resultados de la maderoterapia?
              </button>
            </h2>
            <div id="collapseMaderoSix" class="accordion-collapse collapse">
              <div class="accordion-body">
                Los resultados pueden ser duraderos si se mantienen con una
                dieta equilibrada y ejercicio regular.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
