<div class="about-us-container" id="AboutUs">
  <div class="about-us-content">
    <div class="about-us-text">
      <h2>¿Quiénes somos?</h2>
      <p>
        En Inputs Salud, estamos comprometidos con tu salud integral. Ubicados
        en el corazón de Heredia, trabajamos para mejorar tu calidad de vida y
        ayudarte a alcanzar un bienestar completo.
      </p>
      <p>
        Siéntanse bienvenidos, ya que acá van a encontrar información sobre
        nuestro equipo, los diferentes servicios y todo lo que vos necesitas
        saber para poder empezar de la mejor manera tu proceso.
      </p>
      <p class="highlight">Frase importante acá.</p>
    </div>

    <div class="about-us-form">
      <h3>¿Alguna pregunta?</h3>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name"
            >Nombre <span class="required-asterisk">*</span></label
          >
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
            placeholder="Nombre Apellidos"
          />
        </div>
        <div class="form-group">
          <label for="email"
            >Correo Electrónico <span class="required-asterisk">*</span></label
          >
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="ejemplo@ejemplo.com"
          />
        </div>
        <div class="form-group">
          <label for="phone"
            >Número de Teléfono <span class="required-asterisk">*</span></label
          >
          <input
            type="tel"
            id="phone"
            formControlName="phone"
            class="form-control"
            placeholder="12345678"
          />
        </div>
        <div class="form-group">
          <label for="contact-preference"
            >Preferencia de Contacto
            <span class="required-asterisk">*</span></label
          >
          <select
            id="contact-preference"
            formControlName="contactPreference"
            class="form-control"
          >
            <option value="" disabled>Seleccione una opción</option>
            <option value="email">Correo Electrónico</option>
            <option value="phone">Llamada Telefónica</option>
          </select>
        </div>
        <div class="form-group">
          <label for="question"
            >Tu pregunta <span class="required-asterisk">*</span></label
          >
          <textarea
            id="question"
            formControlName="question"
            class="form-control"
            rows="4"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <p class="note">
          Todos los campos marcados con
          <span class="required-asterisk">*</span> son obligatorios.
        </p>
      </form>
    </div>
  </div>
</div>
