@import '../../../../public/colors';

body {
    padding-bottom: 20px;
  }
  
  .navbar {
    margin-bottom: 20px;
    background-color: $color-blue;
  }
  
.navbar-dark {
    background-color: $color-blue;
}

.navbar-dark {
    background-color: $color-blue;
}